/* static/css/custom.css */

/* 页面主标题 */
#body-inner h1 {
    font-family: "Times New Roman", "Helvetica Neue", Arial, sans-serif;
    font-size: 2.5rem; /* 调整大小 */
    font-weight: 700;
}

/* 文章中的各级标题 */
#body-inner h2 {
    font-size: 2rem;
}

#body-inner h3 {
    font-size: 1.5rem;
}

/* 侧边栏标题 
#sidebar .searchbox label {
    font-family: "你想要的字体", sans-serif;
}*/